<body>
<h1> Admin Page</h1>

<table *ngFor='let product of properties'>
    <thead>
      <tr>
        <th><u>Image</u></th>
        <th><u>Plant Name</u></th>
        <th><u>Discription</u></th>
        <th><u>Price</u></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img [src]='product.product_image'></td>
        <td>{{product.product_name}}</td>
        <td>{{product.product_description}}</td>
        <td>${{product.product_price}}</td>
        <button (click)='testDelete(product.id)'>Delete</button>
      </tr>
    </tbody>
  </table> 
  </body> 