<body>

  <h1>GardenApp About Page</h1>
  <hr />
  <div>
    <p>
      Lorem ipsum dolor sit amet, ad cum omnis erant semper, eum solum delicata in, quaerendum comprehensam usu at.
      <br />
      Lorem Ipsum best not make any more threats to your website. It will be met with fire and fury like the world has
      never seen. Does everybody know that pig named Lorem Ipsum?
      <br /> An ‘extremely credible source’ has called my office and told me that Barack Obama’s placeholder text is a
        not worthy of a revote.
      <br />
      <br />
      <br />
      Lorem ipsum dolor amet mustache knausgaard +1, blue bottle waistcoat tbh semiotics artisan synth stumptown
      gastropub cornhole celiac swag.
      <br />
      Brunch raclette vexillologist post-ironic glossier ennui XOXO mlkshk godard pour-over blog tumblr humblebrag.
      Blue bottle put a bird on it twee prism biodiesel brooklyn. Blue bottle ennui tbh succulents.
    </p>
  </div>
      <br />
  <form _formstyle action="https://formspree.io/aaronjstarrett@gmail.com" method="POST">
    <h1>Contact Us</h1>
    <input type="text" name="name" placeholder="Your Name Please">
    <br/>
    <input type="email" name="_replyto" placeholder="Your E-Mail Please">
    <br/>
    <textarea name="message" placeholder="Your message"></textarea>
    <br/>
    <input type="submit" value="Send">
  </form>
</body>
