<body>
<h1> Products</h1>

<!-- <ul>
  <li *ngFor='let product of products'>
    <img [src]='product.product_image'>
      {{product.id}}
      {{product.product_name}}
      {{product.product_description}}
      ${{product.product_price}}
  </li>
</ul> -->

<table *ngFor='let product of products'>
  <thead>
    <tr>
      <th><u>Image</u></th>
      <th><u>Plant Name</u></th>
      <th><u>Discription</u></th>
      <th><u>Price</u></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><img [src]='product.product_image'></td>
      <td>{{product.product_name}}</td>
      <td>{{product.product_description}}</td>
      <td>${{product.product_price}}</td>
    </tr>
  </tbody>
</table>
</body>
