<div class="content">
  <div class="image">
    <img src="../../assets/khai-sze-ong-308080-unsplash (1).jpg">

    <img id="logo" src='../../assets/PLANT.png'>
  </div>
  <h2 class="featured">Featured</h2>
  <div class="main">

    <p>
      <img src="../../assets/tanalee-youngblood-343769-unsplash.jpg">
      <img src="../../assets/annie-spratt-79272-unsplash (1).jpg">
      <img src="../../assets/maarten-deckers-295105-unsplash.jpg">
    </p>
  </div>

  <h2 class="products">Products</h2>
  <div class="plants">

    <div class="row">
      <div class="column">
        <img src="../../assets/evie-shaffer-803064-unsplash.jpg">
        <img src="../../assets/judah-guttmann-212395-unsplash (1).jpg">
        <img src="../../assets/daniel-hjalmarsson-269425-unsplash.jpg">

      </div>
      <div class="column">
        <img src="../../assets/kyaw-tun-533542-unsplash.jpg">
        <img src="../../assets/galina-n-200668-unsplash.jpg">
        <img src="../../assets/khai-sze-ong-308080-unsplash (1).jpg">

      </div>
      <div class="column">
        <img src="../../assets/randalyn-hill-642698-unsplash.jpg">
        <img src="rocks.jpg">
        <img src="falls2.jpg">
      </div>

    </div>

    <div class="ourSpace">
      <img src="../../assets/judah-guttmann-212395-unsplash (1).jpg">
      <div class="words">
        <h3>Our Space</h3>
        <p>
          The more we do this - the more it will do good things to our heart. Give him a friend, we forget the trees
          get
          lonely too. Let's build some happy little clouds up here. And I will hypnotize that just a little bit. Now
          we
          don't want him to get lonely, so we'll give him a little friend.

          Here we're limited by the time we have. You can't have light without dark. You can't know happiness unless
          you've
          known sorrow.
        </p>

        <p>Sometimes you learn more from your mistakes than you do from your masterpieces. It's so
          important
          to do something every day that will make you happy. And maybe, maybe, maybe... You gotta think like a tree.
        </p>
        <p>
          Without washing the brush, I'm gonna go right into some Van Dyke Brown, some Burnt Umber, and a little bit
          of
          Sap
          Green. See there how easy that is. Let's get crazy. We artists are a different breed of people. We're a
          happy
          bunch.
        </p>


      </div>
    </div>
  </div>