body {
  margin: 0;
  padding: 0;
  background: transparent;
  z-index: 1;
}

.nav ul {
  height: 3em;
  list-style: none;
  background-color: rgb(199, 225, 234);
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav button {
  display: inline-block;
  font-size: 1.2em;
}
.nav a {
  text-decoration: none;
  color: black;
  display: block;
  transition: 0.2s background-color;
}

.nav a:hover {
  background-color: #005f5f;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
